body {
    padding-top: 20px;
    padding-bottom: 20px;
    height:200px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
    color:white;
    font-family:sans-serif;
    margin-bottom:0;
    font-size:20px;
    text-align:center;
}
.nabar navbar-inverse{
    background-color:white;
}
footer {
    text-align: center;
    font-size: 16px;
    clear: both;
    background-color:black;
    height: 80px;
    color: white;
}

