
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="jumbotron">
    <h1> MY First ASP.NET MVC WebSite</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>
<div>
    <h2>Fakhara Imran</h2>
    <p>My Master in Information Technoloy.My final project is realting to Online Inventory System using Fornt End Tool Microsoft Visual Studio C# and connected to BackEnd Tool Sql Sever and make a reports with Crystel tool. </p>
    <p>In Master  i study java , javascripting , Oracle  and Project Management.</p>
</div>

