
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="jumbotron">
    <h1> MY First ASP.NET MVC WebSite</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>
<div>
    <h2>Fakhara Imran</h2>
    <p>PG Vejdes väg 20A Lgh 1105 </p>
    <p>35252 </p>
    <p>fakhara.imran82@gmail.com</p>
    <p>Ph#:072 123 7605 </p>
</div>
