
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="jumbotron">
    <h1> MY First ASP.NET MVC WebSite</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>
<div class="row">
<div class="col-md-4">
    <h2>C# Fundamentals</h2>
    <ul>
        <li>Calculator</li>
        <li>Golf</li>
        <li>Arena Fighter</li>
        <li>Vending machine</li>
    </ul>
</div>
<div class="col-md-4">
    <h2>Front End</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>Sokoban</li>
    </ul>
</div>
<div class="col-md-4">
    <h2>ASP.NET Fundamentals</h2>
    <ul><li>Layout and Views</li></ul>
</div>
</div>




